main {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dimmed {
  font-weight: normal;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
